<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Awards API Data</title>
</head>

<body>
    <div class="container">
        <table style="width: 100%;" bgcolor="#f72929" cellpadding="10">
            <tr>
                <td></td>
            </tr>
        </table>
        <img src="https://caterfly.co.in/assets/images/logo.png">

        <% if (apiData && apiData.length> 0) { %>
            <table style="margin-top:20px; width: 80%;" align="center" border="0">
                <% apiData.forEach(function(award) { %>
                    <tr>
                        <td style="width: 33%; text-align: center; vertical-align: top;">
                            <img src="<%= award.badge_image || 'https://caterfly.co.in/assets/badge/BolpurImmersion.jpeg' %>"
                                alt="<%= award.badge_name || 'Badge' %>"
                                style="width:70%;height:auto;object-fit:contain;border-radius:4px;">
                        </td>
                        <td>
                            <table style="width: 100%; text-align: center;" border="0">
                                <tr>
                                    <td>
                                        <h3>Name: <%= award.participant_name || 'N/A' %>
                                        </h3>
                                    </td>
                                    <td style="text-align: center;">
                                        <h3>Issued On: <% if (award.issue_date) { %>
                                                <%= new Date(award.issue_date).toISOString().split('T')[0] %>
                                                    <% } else { %>
                                                        N/A
                                                        <% } %>
                                        </h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="text-align: right;">
                                        <% if (award.cert_file_path) { %>
                                            <a href="<%= award.cert_file_path %>" target="_blank" rel="noopener noreferrer">Click here to view your certificate</a>
                                            <% } else { %>
                                                Certificate not available
                                                <% } %>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <br><%- award.badge_description || 'N/A' %>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <% }); %>
            </table>
            <% } else { %>
                <div class="info">
                    <strong>No records found.</strong> Try adjusting your filters or query parameters.
                </div>
                <% } %>


    </div>
    </div>
</body>

</html>